"""Переменные окружения для проекта foodgram_backend.

Используются в файле backend/foodgram_backend/settings.py
"""

# Секретный ключ, используемый в рабочей среде приложения
# ПРЕДУПРЕЖДЕНИЕ БЕЗОПАСНОСТИ: хранить секретный ключ, используемый в рабочей среде приложения, в секрете!
SECRET_KEY=секретный_ключ

# Режим отладки приложения True/False (включен/выключен)
# ПРЕДУПРЕЖДЕНИЕ БЕЗОПАСНОСТИ: не запускайть программу в режиме отладки в рабочей среде!
DEBUG=True

# Cписок сайтов, с которыми приложение может устанавливать соединение и принимать запросы.
ALLOWED_HOSTS='IP-адрес веб-сервра, FQDN веб-сервра, 127.0.0.1, localhost'

# Режим использования БД SQLITE True/False
USE_SQLITE=True

# Настройки подключения к БД POSTGRES
# Имя базы данных POSTGRES
POSTGRES_DB=foodgram
# Имя пользователя базы данных POSTGRES_DB
POSTGRES_USER=foodgram
# Пароль пользователя POSTGRES_USER базы данных POSTGRES_DB
POSTGRES_PASSWORD=пароль_пользователя_POSTGRES_USER
# Имя базы данных
DB_NAME=foodgram
# Имя хоста базы данных (имя контейнера внутри сети compose)
DB_HOST=db
# Порт подключения к базе данных POSTGRES
DB_PORT=5432

